/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

div.header {
  background: transparent url(../images/freifunk-nord-logo_shadowed.png) scroll no-repeat 6px 4px / auto 72%;
  min-height: 110px;
}

#site_title{
  background: transparent url("../images/Schriftzug_Freifunk_Nord.svg") no-repeat scroll 75px -89px / 309px auto;
  color: transparent;
}
#flash_placeholder {
  background:url('../images/flash_placeholder.png');
  min-height:330px;
  margin-bottom:10px;
  background-repeat:no-repeat;
  max-width: 100%;
}

.numnodes{
  position:absolute;margin-left:-50px; margin-top:24px;
  width: 118px;
  height: 92px;
}
@media only screen and (max-width: 870px) {
  .numnodes{
    position:absolute;margin-left:-20px; margin-top:24px;
  width: 118px;
  }
} 
@media only screen and (max-width: 670px) {
  .numnodes{
    display: none;
  }
} 

ul.link-list{
  margin: 0px 0px 10px 0px !important;
  padding-top: 7px;
}

.firmwarelist {
  min-width:90%;
}

@media only screen and (max-width: 600px) {
  div.header {
    background-size:auto 60%;
  }
}
@media only screen and (max-width: 500px) {
  div.header {
    background-size:auto 50%;
  }
  .teaser > div > div.eight.columns{
    max-height:305px;
  }
  #flash_placeholder {
    background-size:100%;
  }
  ul.link-list{
    margin: 0px -15px 10px -27px !important;
    padding-top: 7px;
  }
  #site_title {
    background: transparent url("../images/Schriftzug_Freifunk_Nord.svg") no-repeat scroll 75px -72px / 254px auto;
  }
}

@media only screen and (max-width: 480px) {
  .teaser > div > div.eight.columns{
    max-height:250px;
  }
}

@media only screen and (max-width: 380px) {
  .teaser > div > div.eight.columns{
    max-height:200px;
  }
}

footer {
  background: #fafafa;
  margin-top: 1em;
  padding: 1em 0;
}

div.teaser {
  background: #333;
  padding-top: 1em;
  margin-bottom: 1em;
}

div.heading {
  background: #333;
  color: #fff;
  margin-bottom: 1.4em;
}

div.heading * {
  color: #fff;
}

h1 > .postdate {
  font-size: 0.3em;
  font-style: italic;
}

.entry-content li{
  margin-left: 2em;
  text-indent: -1em; 
}
/* -----------------------------------------
   Firmware
----------------------------------------- */

.router{
  padding: 0px;
  text-align: center;
  width:70px;
  height: 60px;    
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eeeeee;
  background-color: white;
}
.infolink{
  font-size: 0.8em;
  padding-left: 7px;
}
